{% extends 'common.html '%}
{% block title %} Index {% endblock %}
{% block CSS %}
          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }
          .carousel-indicators .active {
          background-color: blue;
            }
            .h1, h1 {
                font-size: 2.5rem;
                margin-left: 25px;
            }
          .col-md-3 img{
             width: 255px;
             height: 150px;
          }
          body .carousel-indicator li{
          background-color: blue;
          }
          body .carousel-indicators{
          bottom: 0;
          }
          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }

            .carousel-control-prev,
             .carousel-control-next{
            top: auto;
            bottom: auto;
          }

           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
 {% endblock%}


{% block body %}
  {% load static %}

 <!--  carousel  -->
<div class="container">
    {% for nSlides,range,products in allProds%}
<h1>{{products.0.category}}</h1>
 <div id="demo{{forloop.counter}}" class="carousel slide my-3" data-ride="carousel">
  <ol class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
   <!--   this for loop is for the number of slide-->
      {% for i in range %}
      <li data-target="#demo{{forloop.parent.counter}}" data-slide-to={{i}}></li>
     {% endfor %}
  </ol>

<!-- Slide Show Start Here-->
 <div class = "container carousel-inner no-padding">
     <div class="carousel-item active">
         <div class = "col-xs-3 col-sm-3 col-md-3">
             <!--used Card here-->
            <div class="card" style="width: 18rem;">
                <img src='/media/{{products.0.image}}' class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{products.0.product_name}}</h5>
                    <p class="card-text">{{products.0.desc}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
         </div>

            <!--Slices the product , start from 1 to no. of product-->
            {% for i in products|slice:"1:"%}
           <div class = "col-xs-3 col-sm-3 col-md-3">
             <!--used Card here-->
            <div class="card" style="width: 18rem;">
                <img src='/media/{{i.image}}' class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{i.product_name}}</h5>
                    <p class="card-text">{{i.desc}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
         </div>
         {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
        </div> <div class="carousel-item">
         {% endif %}

         {% endfor %}
     </div>


 </div>
 </div>

   <!-- Left right controls for the slide ---- copied from bootstrap documnets-->
   <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
 {% endfor %}
</div>
{% endblock %}
